@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

.text4{ /* Sana's Nails */
    font-family: "Sofia", sans-serif;
    text-align: center;
    font-size: 13vw;
    color: black;
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: normal;
}

.text5{ /* Slogan */
    text-align: center;
    font-family: "Tenor Sans", sans-serif;
    font-size: 2vw;
    color: black;
    margin-top: -1vw;
    padding-top: 0;
    font-weight: normal;
}

.title_main{
    background-image: url('img/back.jpg'); 
    background-size: 100%; 
    top:0; 
    left:0; 
    margin: 0; 
    padding-top: 20%; 
    padding-bottom: 20%;
}
